---
import Image from "astro/components/Image.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props
---
<BaseLayout title={frontmatter.title}>
    <p>{frontmatter.description}</p>
    <p>Published on {frontmatter.pubDate.toLocaleDateString()}</p>
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
    
    <slot />
</BaseLayout>